<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}

<div>
    <h1> This is Package_page </h1>
    <div class="card" style="width: 18rem;">
  <img src="{% static 'images/index.jpg' %}" class="card-img-top" alt="hello">
  <div class="card-body">
    <h5 class="card-title">Welcome to KLU</h5>
    <p class="card-text">Welcome to Y22 PFSD-S11 Section</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

{% endblock %}

</body>
</html>